@keyframes first-anim {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
@keyframes second-screen-letter-drop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1200px);
  }
}
@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
}
@keyframes move-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}
@keyframes move-down {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100px);
    opacity: 1;
  }
}
@keyframes move-down-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move-up {
  0% {
    transform: translateX(90px) translateY(50%);
    opacity: 1;
  }

  100% {
    transform: translateX(90px) translateY(-70px);
    opacity: 0;
  }
}
@keyframes move-left {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-220px);
  }
}
