@keyframes first-anim {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
@keyframes second-screen-letter-drop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1200px);
  }
}
