@font-face {
  font-family: "wire_oneregular";
  src: url("/static/fonts/wireone-pj1z-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("/static/fonts/opensanslight-2yxe-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
  font-family: system-ui, "open_sanslight";
}
h2 {
  line-height: 0.9;
}
.second-screen {
  &__letter {
    font-family: "wire_oneregular";
    color: $pink-color;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5rem;
    font-size: 4.5rem;
  }
}
.menu__li {
  color: $pink-color;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "open_sanslight";
  letter-spacing: 1px;
}
.section {
  &__title {
    font-size: 6rem;
    font-weight: 100;
    text-transform: uppercase;
    color: $pink-color;
    font-family: "wire_oneregular";
  }
  &__p {
    font-size: 1.3rem;
    font-family: "open_sanslight";
    font-weight: 100;
    color: $pink-color;
  }
}
