@font-face {
  font-family: 'wire_oneregular';
  src: url('/static/fonts/wireone-pj1z-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('/static/fonts/opensanslight-2yxe-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
