@font-face {
  font-family: 'wire_oneregular';
  src: url('/static/fonts/wireone-pj1z-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('/static/fonts/opensanslight-2yxe-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
  font-family: system-ui, 'open_sanslight';
}
.second-screen {
  &__letter {
    font-family: 'wire_oneregular';
    color: $pink-color;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5rem;
    font-size: 4.5rem;
  }
}
