.canvas__logo {
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 3;
}
.third-screen__canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.section__canvas {
  position: absolute;
  bottom: 0;
  right: 0;
}
