.menu {
  &__container {
    position: absolute;
    top: 15rem;
    left: 5rem;
    width: 40%;
    height: 60%;

    animation-name: move-down;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    z-index: 3;
  }
  &__ul {
    display: flex;
    flex-direction: column;
  }
  &__li {
    list-style: none;
    padding: 1rem 0;

    animation-name: move-down-up;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    &:hover {
      color: #d9b9a7;
    }
    &::before {
      content: "";
      width: 4rem;
      height: 2.2rem;

      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      top: 0rem;
      left: -1rem;
      position: absolute;
      transform: rotate(10deg);
    }
    &:hover::before {
      border-color: #d9b9a7;
    }
  }
}
.menu-title-canvas__container {
  position: absolute;
  top: 28rem;
  right: 2rem;
}

.menu-title-canvas__anim {
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.menu-title-canvas__remove {
  animation-name: disappear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
