.article {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 78vw;
    height: 100vh;
    background-color: $pink-color;
  }
}
.section {
  &__container {
    padding: 4rem 2.5rem;

    display: flex;
    flex-direction: column;
  }
  &__title {
    position: relative;
  }

  &__title::before {
    content: "";
    width: 4rem;
    height: 2rem;

    border-top: 2px solid#73221A;
    border-left: 2px solid #73221a;
    top: -0.5rem;
    left: -0.7rem;
    position: absolute;
    transform: rotate(10deg);
  }
}
