.second-screen {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__space {
    padding-right: 0.5rem;
  }

  &__letter {
    display: inline-block;
    animation-name: second-screen-letter-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }
  &__letter-drop {
    animation-name: second-letter-drop;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
  }
}
.title_move-right {
  animation-name: move-right;
  animation-duration: 2s;
  animation-timing-function: easy-in;
  animation-fill-mode: forwards;
}
