.article {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 78vw;
    height: 100vh;
    background-color: $pink-color;
  }
  &__home,
  &__projects,
  &__contact {
    margin: 2rem 0 3rem 0;
    padding: 5rem 0;
    position: relative;
    transition: all 3s ease-in;
  }
  &__home::before,
  &__projects::before,
  &__contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bf6956;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: all 3s ease-in;
  }

  &__home::before {
    background-image: url("../img/home-background.jpg");
  }
  &__projects::before {
    background-image: url("../img/projects-background.jpg");
  }
  &__contact::before {
    background-image: url("../img/contact-background.jpg");
  }
}
.section {
  &__container {
    padding: 4rem 5rem;

    display: flex;
    flex-direction: column;
  }
  &__title {
    position: relative;
    display: inline;
    z-index: -1;
  }

  &__title::before {
    content: "";
    width: 4rem;
    height: 2rem;

    border-top: 2px solid $pink-color;
    border-left: 2px solid $pink-color;
    top: -0.5rem;
    left: -0.7rem;
    position: absolute;
    transform: rotate(10deg);
  }

  &__p {
    margin: 0;
    margin-bottom: 0.8rem;
  }

  &__arrow-container--home,
  &__arrow-container--projects,
  &__arrow-container--contact {
    position: absolute;
    right: 3rem;
    top: 4rem;
    width: 5rem;
    height: 5rem;
    padding: 3rem;
  }
}
a.section__link {
  padding: 2rem;
  z-index: 5;
}
